<div class="team_form">
  <%= form_for(team) do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_area :name, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="info">
      <h2>Available users</h2>
      <%= render 'users' %>
    </div>

    <div class="actions">
      <%= f.submit :class=>"btn btn-primary button"%>
    </div>
  <% end %>

</div>
