
<div class="container team_index">

  <h1>Teams</h1>
  <table class="table table-striped center">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
        <tr>
          <td><%= team.id %></td>
          <td><%= team.name %></td>
          <td><%= team.description %></td>
          <td><%= link_to 'Show', team, :class=>"btn btn-info button"%></td>
          <td><%= link_to 'Edit', edit_team_path(team), :class=>"btn btn-warning button" %></td>
          <td><%= link_to "leave", delete_user_team_path(id: team.id, user: @user, :team_id => team.id), :method => :put, :class=>"btn btn-danger button" %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
  <div>
    <%= link_to 'back', @user, :class=>"btn btn-warning button" %>
    <%= link_to 'New Team', new_team_path, :class=>"btn btn-primary button" %>
  </div>
</div>
