<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<%= link_to "leave", delete_user_team_path(team: @team, :user => @user, :team_id => @team.id), :method => :put %>

<h2>All users in team</h2>
<%= render 'userInTeam' %>

<%= link_to 'create project', new_project_path %>

<br />

<%= @project.name %>
<%= @project.description %>
<%= link_to 'view', @project %>

<br />

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
