<div class="show_task page_content">
  <p id="notice"><%= notice %></p>

  <div class="header">
    <div class="sub_header">
      <div class="name">
        <h1 class="title_name"><%= @task.name %></h1>
      </div>
      <div class="button_header">
        <%= link_to 'Edit', edit_task_path(@task), :class=>"btn btn-warning button" %>
      </div>
    </div>
    <h4 class="description"><%= @task.description %></h4>
    <h4>
      <strong>Status:</strong>
      <%= @task.status %>
    </h4>
    <h4>
      <strong>Project:</strong>
      <%= @task.project.name %>
    </h4>
  </div>

  <div class="info">
    <h2>All Comments</h2>
    <%= render 'comments' %>
    <br />
  </div>


  <%= link_to "Back", @task.project, :class => "btn btn-warning button" %>
  <%= link_to 'New Comment', new_task_tcomment_path(:task_id => @task.id),:class=>"btn btn-primary button" %>

</div>
