<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @task_comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @task_comment.user %>
</p>

<p>
  <strong>Task:</strong>
  <%= @task_comment.task %>
</p>

<%= link_to 'Edit', edit_task_comment_path(@task_comment) %> |
<%= link_to 'Back', task_comments_path %>
