<div class="new_project_form">
  <%= form_for(project) do |f| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_area :name %>
    </div>

    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :team_id %>
      <% if @team_id.nil? %>
        <select id="team_select" class="js-tags input-lg form-control">
          <option></option>
        </select>
        <input type="hidden" id="team_id" name="team_id"/>
      <% else %>
        <%= f.text_area :tead_id, :readonly => true, :value => @team.name %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn btn-primary button" %>
    </div>
  <% end %>

</div>

<script>
  var test = $('.js-tags');
  var teams = JSON.parse(<%= @teams_available.to_json.to_s.html_safe %>);
  var new_data = $.map(teams, function (obj) {
    obj.text = obj.text || obj.name; // replace name with the property used for the text
    return obj;
  });

  console.log(new_data);

  $(test).select2({
    placeholder: "Team name",
    data: new_data
  });

  $("#team_select").on("change", function (e) {
    e.preventDefault();
    tags_val = $(".js-tags").select2('data')[0].id;

    if (tags_val == null) {
        tags_val = ""
        $("#team_id").val("");
        console.log("null")
    } else {
        $("#team_id").val(tags_val.toString());
        console.log($("#team_id").val());
    }
  });

</script>
