<div class="new_project_form">

  <%= form_for(project) do |f| %>
    <% if project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :name %>
      <%= f.text_area :name %>
    </div>

    <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="field">
      <%= f.label :team_id %>
      <%= f.text_field :team_id, :value => @team_id, :readonly => @read_only %>
    </div>

    <div class="actions">
      <%= f.submit :class => "btn btn-primary button" %>
    </div>
  <% end %>

</div>
