<div class="show_comment">
  <p id="notice"><%= notice %></p>

  <div class="header">
    <div class="sub_header">
      <div class="name">
        <h1 class="title_name">Comment</h1>
      </div>
      <div class="button_header">
        <%= link_to 'Edit', edit_task_tcomment_path(@task, @tcomment), :class=>"btn btn-warning button" %>
      </div>
    </div>

    <h4>
      <strong>Task:</strong>
      <%= @tcomment.task.name %>
    </h4>

    <h4>
      <strong>User:</strong>
      <%= @tcomment.user.name %>
    </h4>

    <h4>
      <strong>Content:</strong>
      <%= @tcomment.content %>
    </h4>
  </div>

  <%= link_to 'Back', task_tcomments_path, :class=>"btn btn-warning button" %>

</div>
